.content
  position: absolute
  display: flex
  justify-content: space-between
  height: 100vh
  width: 100%
  top: 0
  left: 0
  z-index: -100

.stripe-1
  background-color: #ae52d4
  height: 65%
  display: flex
  justify-content: center

  overflow: hidden
  text-overflow: ellipsis

.stripe-2
  background-color: #7b1fa2
  height: 25%

.stripe-3
  background-color: #4a0072
  height: 10%

.column
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

.titles
  display: inline
  align-self: center
  color: white
  text-align: center

.title
  font-size: 40px

.social-media-button
  background-color: transparent
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.imagem-rosto
  border-radius: 50%
  width: 200px
  height: 200px
  object-fit: cover
