<section class="fwh-slide">
  <div class="content">
    <div class="column">
      <div class="stripe-1">
        <section class="titles">
          <img class="imagem-rosto" src="assets/img/marcofrente.jpeg" alt="Foto de rosto">
          <h1 class="title">Marco Antonio Gonçalves Pegoraro</h1>
          <h2> Java web developer at IBM | RedHat Openshift Student | Angular, Node.js and Flutter Enthusiast | InfoSec
            student</h2>
        </section>
      </div>
      <div class="stripe-2"></div>
      <div class="stripe-3">
        <p style="text-align: end; color: white; font-size: 15pt;">
          marco.ag.pegoraro@hotmail.com
        </p>
      </div>
    </div>
  </div>
</section>
