.cats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mimo {
    width: 200px;
    align-self: baseline;
    animation: rotation 2s infinite linear;
}

.jinx-e-mimi {
    display: flex;
    flex-direction: column;
    align-self: baseline;
}

.jinx {
    width: 200px;
    align-self: baseline;
    animation: rotation 2s infinite linear;
}

.mimi {
    width: 200px;
    align-self: baseline;
}

@keyframes rotation {
    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.accord {
    width: 30%;
}