<section class="fwh-slide">
    <div class="content">
        <div class="column">
            <div class="resume">
                <mat-card style="width: 100%;">
                    <mat-card-header>
                        <mat-card-title style="margin-top:10px">Resume</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-accordion>
                                <div *ngFor="let resumeItem of resume; index as i;">
                                    <mat-divider ></mat-divider>
                                    <mat-card-subtitle style="margin-top: 10px" class="subtitle-list"> {{resumeItem.title}}</mat-card-subtitle>
                                    <div *ngFor="let item of resumeItem.itens; index as j;">

                                        <mat-expansion-panel *ngIf="item.place != ''">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{item.title}} - {{item.place}}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <p>{{item.description}}</p>
                                            <p>{{item.start}} até {{item.end}}</p>
                                        </mat-expansion-panel>
                                        <mat-list-item *ngIf="item.place == ''"> {{item.title}}</mat-list-item>
                                    </div>
                                </div>
                            </mat-accordion>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <img class="image" src="assets/img/marcotutoia.jpeg">
    </div>
</section>