.content
    display: flex
    justify-content: space-between
    background-color: #343434

.column
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%

.resume
    display: flex
    align-self: center
    width: 70%
    font-size: 20pt

.subtitle-list
    padding-top: 8px